main {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

main h1 {
  margin-top: 85px;
  font-size: 2rem;
}

main h2 {
  padding:40px 0 40px 20px;
  text-align: start;
  font-size: 1.5rem;
  grid-column: span 2;
}

.fa-check {
  color: rgb(1, 59, 1);
}
.carousel {
  box-shadow: 10px 10px 10px rgba(155, 91, 91, 0.733);
  padding-top: 10px;
  position: relative;
}

.carousel img {
  display: none;
  object-fit: cover;
  width: 100vw;
  height: 700px;
}

img.active {
  display: block;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

main section:nth-child(4) {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
  column-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  width: 100%;
  min-height: 300px;
  background-color: var(--secondary);
  border-radius: 10px;
  cursor: pointer;
}

.card p {
    font-size: 1.4rem;
}

.card img {
  width: 130px;
  object-fit: cover;
}

.card-stars {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.card-stars p {
  font-size: 1rem;
}

.card-product-info {
  text-align: start;
  width: 100%;
}

.card-buy {
  display: flex;
  justify-content: center;
  background-color: var(--accent);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.container-more {
  padding: 40px 0 20px 0;
  display: flex;
  justify-content: center;
  grid-column: span 2;
}

.container-more p {
  color: var(--text);
  background-color: #6a1e1e;
  border-radius: 20px;
  padding: 5px 20px;
  align-self: end; /* Lo coloca abajo */
  justify-self: center;
   cursor: pointer;
}

@media (min-width: 577px) and (max-width: 1024px) {
  main section:nth-child(4) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    min-height: 320px;
  }

  .container-more {
    grid-column: span 3;
  }
}

@media (min-width: 1100px) {
  main section:nth-child(4) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .card {
    min-height: 320px;
    gap: 15px;
  }

  .container-more {
    grid-column: span 4;
  }
}
