@use 'variables' as *;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


header {
    background-color: $primary;
    padding: 20px;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;

    @media (min-width: 810px) and (max-width: 1090px){
        justify-content: space-evenly;
    }

    @media (min-width: 1100px){
        justify-content: center;
        gap: 70px;
    }

    >i{
        color: $text;
        cursor: pointer;
        width: 300px;

        @media (min-width: 1100px){
            display: none !important;
        }
    }

    img{
        width: 32px;
        cursor: pointer;
    }

    nav{
        background-color: $primary;
        position: fixed;
        display: none;
        flex-direction: column;
        gap: 10px;
        padding: 40px 20px;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1000;
        color: text;

        @media (min-width: 1100px){
            background-color: transparent;
            position: static;
            display: flex;
            flex-direction: row;
            gap: 40px;
            padding: 0;
            top: auto;
            right: auto;
            height: auto;
            width: auto;
            z-index: 0;
        }

        >div{
            display: flex;
            justify-content: end;

            i{
                color: $text;
                cursor: pointer;
                @media (min-width: 1100px){
                    display: none !important;
                }
            }
        }

        a{
            color: $text;
            font-size: 2rem;
            font-family: $latobold;
            cursor: pointer;

            @media (min-width: 810px) and (max-width: 1090px){
                font-size: 3rem;
            }

            @media (min-width: 1100px){
                font-size: 1.25rem;
            }
        }

        p{
            color: $text;
            font-size: 2rem;
            cursor: pointer;
            font-family: $latobold;

            @media (min-width: 810px) and (max-width: 1090px){
                font-size: 3rem;
            }   

            @media (min-width: 1100px){
                font-size: 1.25rem;
                position: relative;
            }
        }

        #dropdown-content{
            display: none;
            flex-direction: column;
            gap: 10px;
            padding-left: 25px;

            @media (min-width: 1100px){
                padding: 10px 10px;
                position: absolute;
                bottom: 0;
                transform: translate(100%, 60%);
                border: 1px solid $accent;
                border-radius: 8px;
                background-color: color-mix(in oklab, $primary /* #2b2b2b */ 80%, transparent);
            }
        }
    }

    form{
        position: relative;

        input{
            border-radius: 6px;
            height: 36px;
            width: 176px;
            border: none;
            background-color: white;

            @media (min-width: 810px) and (max-width: 1090px){
                width: 320px;
            }

            @media (min-width: 1100px){
                width: 800px;
            }
        }

        i{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(50%)
        }
    }

    a{
        color: $text;
    }
}

footer {
    background-color: $primary;
    display: flex;
    flex-direction: column;

    @media (min-width: 810px) and (max-width: 1090px){
        display: grid;
        grid-auto-columns: 1fr 1fr 1fr;
        padding: 40px 20px 0 20px;
    }

    @media (min-width: 1100px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 40px 20px 0 20px;
    }
    
    div:nth-of-type(1){

        @media (min-width: 810px) and (max-width: 1090px){
            grid-column-start: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        @media (min-width: 1100px){
            grid-column-start: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        h2{
            color: $text;
            padding: 5px 0 5px 10px;
            font-family: $latobold;
            font-size: 1.2rem;

            @media (min-width: 810px) and (max-width: 1090px){
                font-size: 1.4rem;
                padding: 0;
            }
            
            @media (min-width: 1100px){
                font-size: 1.4rem;
                padding: 0;
            }
        }
        
        hr{
            @media (min-width: 810px) and (max-width: 1090px){
              display: none;
            }

            @media (min-width: 1100px){
                display: none;
            }
        }

        a{
            font-size: 1rem;
            padding-left: 20px;
            font-family: $latoregular;
            color: $text;

            @media (min-width: 810px) and (max-width: 1090px){
                padding-left: 0;
            }

            @media (min-width: 1100px){
                padding-left: 0;
            }
        }
    }

    hr{
         @media (min-width: 810px) and (max-width: 1090px){
              display: none;
            }

            @media (min-width: 1100px){
                display: none;
            }
    }

    div:nth-of-type(2){

        @media (min-width: 810px) and (max-width: 1090px){
            grid-column-start: 2;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        @media (min-width: 1100px){
            grid-column-start: 2;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        h2{
            color: $text;
            padding: 5px 0 5px 10px;
            font-family: $latobold;
            font-size: 1.2rem;

            @media (min-width: 810px) and (max-width: 1090px){
                font-size: 1.4rem;
                padding: 0;
            }

            @media (min-width: 1100px){
                font-size: 1.4rem;
                padding: 0;
            }
        }

        hr{

            @media (min-width: 810px) and (max-width: 1090px){
              display: none;
            }

            @media (min-width: 1100px){
                display: none;
            }
        }

        a{
            font-size: 1rem;
            padding-left: 20px;
            font-family: $latoregular;
            color: $text;

            @media (min-width: 810px) and (max-width: 1090px){
                padding-left: 0;
            }

            @media (min-width: 1100px){
                padding-left: 0;
            }
        }
        
    }

    div:nth-of-type(3){
        padding: 15px 0 10px 20px;
        color: $text;

        @media (min-width: 810px) and (max-width: 1090px){
            grid-row-start: 2;
            padding: 30px 0 20px 10px;
        }

        @media (min-width: 1100px){
            grid-row-start: 2;
            padding: 30px 0 20px 10px;
        }

        i{
            color: $text;
        }
    }

    div:nth-of-type(4){
        margin-bottom: 8px;

        @media (min-width: 810px) and (max-width: 1090px){
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 1;
        }

        @media (min-width: 1100px){
            grid-column-start: 3;
            grid-row-start: 1;
        }

        h2{
            color: $text;
            padding: 5px 0 5px 10px;
            font-family: $latobold;
            font-size: 1.2rem;

            @media (min-width: 810px) and (max-width: 1090px){
                font-size: 1.4rem;
                padding: 0;
            }

            @media (min-width: 1100px){
                font-size: 1.4rem;
                padding: 0;
            }
            
        }

        div{
            display: flex;
            gap: 8px;
            padding-left: 20px;

            @media (min-width: 810px) and (max-width: 1090px){
                padding: 0;
                gap: 3px;
                flex-wrap: wrap;
                flex-direction: row;
            }

            @media (min-width: 1100px){
                flex-wrap: wrap;
                padding: 0;
                gap: 3px;
                flex-direction: row;
            }   

            img {
                width: 50px;
            }
        }
    }

    div:nth-of-type(5){
        display: flex;
        justify-content: center;

        @media (min-width: 810px) and (max-width: 1090px){
            grid-column: 1 / span 4;
            padding: 20px 0;
        }

        @media (min-width: 1100px){
            grid-row-start: 3;
            grid-column: 1 / span 4;
            padding: 20px 0;
            flex-direction: row;
        }

        a{
            font-size: 1rem;
            font-family: $latoregular;
            color: $text;

            @media (min-width: 810px) and (max-width: 1090px){
                padding-left: 0;
            }
        }
    }

    >hr{
     @media (min-width: 810px) and (max-width: 1090px){
            display: none;
        }
    }

    small{
        text-align: center;
        color: $text;
        padding-top: 10px;
        font-family: $latoregular;

        @media (min-width: 810px) and (max-width: 1090px){
            grid-column: 1 / span 4;

        }

        @media (min-width: 1100px){
            grid-column: 1 / span 4;
            grid-row: 4;
        }
    }  
}