@use 'variables' as *;

@mixin button($bg-color, $text-color) {
    background-color: $bg-color;
    border-radius: 10px;
    padding: 5px;
    font-family: $latobold;
    font-size: 1.25rem;
    color: $text-color;
    cursor: pointer;

    @media (min-width: 810px) and (max-width: 1090px){
        font-size: 1.5rem;
    }

    @media (min-width: 1100px){
            font-size: 2rem;
    }
}

@mixin product-card($bg-color, $h3font-size, $img-size) {
    background-color: $bg-color;
    border-radius: 10px;
    box-shadow: #0000003d 0px 3px 8px;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;

    >div{
        img{
            width: $img-size;
        }
    }

    .shopping-cart-product__info{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        div:nth-of-type(1){
            font-family: $latobold;

            h3 {
                font-size: $h3font-size;
            }

            small {
                color: green;
            }
        }

        div:nth-of-type(2){
            display: flex;
            justify-content: space-between;
            align-items: center;

            i{
                cursor: pointer;
            }

            >   div{
                display: flex;
                gap: 15px;
                font-family: $latobold;
                @media (min-width: 810px) and (max-width: 1090px){
                    font-size: 1.5rem;
                }

                @media (min-width: 1100px){
                    font-size: 1.5rem;
                }
            }
           
        } 
    }
}
