@font-face {
  font-family: LatoRegular;
  src: url("../../assets/fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: LatoBold;
  src: url("../../assets/fonts/Lato-Bold.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  background-color: #2b2b2b;
  padding: 20px;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
}
@media (min-width: 810px) and (max-width: 1090px) {
  header {
    justify-content: space-evenly;
  }
}
@media (min-width: 1100px) {
  header {
    justify-content: center;
    gap: 70px;
  }
}
header > i {
  color: #f0f0f0;
  cursor: pointer;
  width: 300px;
}
@media (min-width: 1100px) {
  header > i {
    display: none !important;
  }
}
header img {
  width: 32px;
  cursor: pointer;
}
header nav {
  background-color: #2b2b2b;
  position: fixed;
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 40px 20px;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  color: text;
}
@media (min-width: 1100px) {
  header nav {
    background-color: transparent;
    position: static;
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 0;
    top: auto;
    right: auto;
    height: auto;
    width: auto;
    z-index: 0;
  }
}
header nav > div {
  display: flex;
  justify-content: end;
}
header nav > div i {
  color: #f0f0f0;
  cursor: pointer;
}
@media (min-width: 1100px) {
  header nav > div i {
    display: none !important;
  }
}
header nav a {
  color: #f0f0f0;
  font-size: 2rem;
  font-family: LatoBold, "sans-serif";
  cursor: pointer;
}
@media (min-width: 810px) and (max-width: 1090px) {
  header nav a {
    font-size: 3rem;
  }
}
@media (min-width: 1100px) {
  header nav a {
    font-size: 1.25rem;
  }
}
header nav p {
  color: #f0f0f0;
  font-size: 2rem;
  cursor: pointer;
  font-family: LatoBold, "sans-serif";
}
@media (min-width: 810px) and (max-width: 1090px) {
  header nav p {
    font-size: 3rem;
  }
}
@media (min-width: 1100px) {
  header nav p {
    font-size: 1.25rem;
    position: relative;
  }
}
header nav #dropdown-content {
  display: none;
  flex-direction: column;
  gap: 10px;
  padding-left: 25px;
}
@media (min-width: 1100px) {
  header nav #dropdown-content {
    padding: 10px 10px;
    position: absolute;
    bottom: 0;
    transform: translate(100%, 60%);
    border: 1px solid #c9a635;
    border-radius: 8px;
    background-color: color-mix(in oklab, #2b2b2b 80%, transparent);
  }
}
header form {
  position: relative;
}
header form input {
  border-radius: 6px;
  height: 36px;
  width: 176px;
  border: none;
  background-color: white;
}
@media (min-width: 810px) and (max-width: 1090px) {
  header form input {
    width: 320px;
  }
}
@media (min-width: 1100px) {
  header form input {
    width: 800px;
  }
}
header form i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(50%);
}
header a {
  color: #f0f0f0;
}

footer {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
}
@media (min-width: 810px) and (max-width: 1090px) {
  footer {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
    padding: 40px 20px 0 20px;
  }
}
@media (min-width: 1100px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 20px 0 20px;
  }
}
@media (min-width: 810px) and (max-width: 1090px) {
  footer div:nth-of-type(1) {
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (min-width: 1100px) {
  footer div:nth-of-type(1) {
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
footer div:nth-of-type(1) h2 {
  color: #f0f0f0;
  padding: 5px 0 5px 10px;
  font-family: LatoBold, "sans-serif";
  font-size: 1.2rem;
}
@media (min-width: 810px) and (max-width: 1090px) {
  footer div:nth-of-type(1) h2 {
    font-size: 1.4rem;
    padding: 0;
  }
}
@media (min-width: 1100px) {
  footer div:nth-of-type(1) h2 {
    font-size: 1.4rem;
    padding: 0;
  }
}
@media (min-width: 810px) and (max-width: 1090px) {
  footer div:nth-of-type(1) hr {
    display: none;
  }
}
@media (min-width: 1100px) {
  footer div:nth-of-type(1) hr {
    display: none;
  }
}
footer div:nth-of-type(1) a {
  font-size: 1rem;
  padding-left: 20px;
  font-family: LatoRegular, "sans-serif";
  color: #f0f0f0;
}
@media (min-width: 810px) and (max-width: 1090px) {
  footer div:nth-of-type(1) a {
    padding-left: 0;
  }
}
@media (min-width: 1100px) {
  footer div:nth-of-type(1) a {
    padding-left: 0;
  }
}
@media (min-width: 810px) and (max-width: 1090px) {
  footer hr {
    display: none;
  }
}
@media (min-width: 1100px) {
  footer hr {
    display: none;
  }
}
@media (min-width: 810px) and (max-width: 1090px) {
  footer div:nth-of-type(2) {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (min-width: 1100px) {
  footer div:nth-of-type(2) {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
footer div:nth-of-type(2) h2 {
  color: #f0f0f0;
  padding: 5px 0 5px 10px;
  font-family: LatoBold, "sans-serif";
  font-size: 1.2rem;
}
@media (min-width: 810px) and (max-width: 1090px) {
  footer div:nth-of-type(2) h2 {
    font-size: 1.4rem;
    padding: 0;
  }
}
@media (min-width: 1100px) {
  footer div:nth-of-type(2) h2 {
    font-size: 1.4rem;
    padding: 0;
  }
}
@media (min-width: 810px) and (max-width: 1090px) {
  footer div:nth-of-type(2) hr {
    display: none;
  }
}
@media (min-width: 1100px) {
  footer div:nth-of-type(2) hr {
    display: none;
  }
}
footer div:nth-of-type(2) a {
  font-size: 1rem;
  padding-left: 20px;
  font-family: LatoRegular, "sans-serif";
  color: #f0f0f0;
}
@media (min-width: 810px) and (max-width: 1090px) {
  footer div:nth-of-type(2) a {
    padding-left: 0;
  }
}
@media (min-width: 1100px) {
  footer div:nth-of-type(2) a {
    padding-left: 0;
  }
}
footer div:nth-of-type(3) {
  padding: 15px 0 10px 20px;
  color: #f0f0f0;
}
@media (min-width: 810px) and (max-width: 1090px) {
  footer div:nth-of-type(3) {
    grid-row-start: 2;
    padding: 30px 0 20px 10px;
  }
}
@media (min-width: 1100px) {
  footer div:nth-of-type(3) {
    grid-row-start: 2;
    padding: 30px 0 20px 10px;
  }
}
footer div:nth-of-type(3) i {
  color: #f0f0f0;
}
footer div:nth-of-type(4) {
  margin-bottom: 8px;
}
@media (min-width: 810px) and (max-width: 1090px) {
  footer div:nth-of-type(4) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
  }
}
@media (min-width: 1100px) {
  footer div:nth-of-type(4) {
    grid-column-start: 3;
    grid-row-start: 1;
  }
}
footer div:nth-of-type(4) h2 {
  color: #f0f0f0;
  padding: 5px 0 5px 10px;
  font-family: LatoBold, "sans-serif";
  font-size: 1.2rem;
}
@media (min-width: 810px) and (max-width: 1090px) {
  footer div:nth-of-type(4) h2 {
    font-size: 1.4rem;
    padding: 0;
  }
}
@media (min-width: 1100px) {
  footer div:nth-of-type(4) h2 {
    font-size: 1.4rem;
    padding: 0;
  }
}
footer div:nth-of-type(4) div {
  display: flex;
  gap: 8px;
  padding-left: 20px;
}
@media (min-width: 810px) and (max-width: 1090px) {
  footer div:nth-of-type(4) div {
    padding: 0;
    gap: 3px;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media (min-width: 1100px) {
  footer div:nth-of-type(4) div {
    flex-wrap: wrap;
    padding: 0;
    gap: 3px;
    flex-direction: row;
  }
}
footer div:nth-of-type(4) div img {
  width: 50px;
}
footer div:nth-of-type(5) {
  display: flex;
  justify-content: center;
}
@media (min-width: 810px) and (max-width: 1090px) {
  footer div:nth-of-type(5) {
    grid-column: 1/span 4;
    padding: 20px 0;
  }
}
@media (min-width: 1100px) {
  footer div:nth-of-type(5) {
    grid-row-start: 3;
    grid-column: 1/span 4;
    padding: 20px 0;
    flex-direction: row;
  }
}
footer div:nth-of-type(5) a {
  font-size: 1rem;
  font-family: LatoRegular, "sans-serif";
  color: #f0f0f0;
}
@media (min-width: 810px) and (max-width: 1090px) {
  footer div:nth-of-type(5) a {
    padding-left: 0;
  }
}
@media (min-width: 810px) and (max-width: 1090px) {
  footer > hr {
    display: none;
  }
}
footer small {
  text-align: center;
  color: #f0f0f0;
  padding-top: 10px;
  font-family: LatoRegular, "sans-serif";
}
@media (min-width: 810px) and (max-width: 1090px) {
  footer small {
    grid-column: 1/span 4;
  }
}
@media (min-width: 1100px) {
  footer small {
    grid-column: 1/span 4;
    grid-row: 4;
  }
}

main {
  padding-top: 120px;
}
main h1 {
  font-family: LatoBold, "sans-serif";
  padding-left: 10px;
}
main > div {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}
@media (min-width: 1100px) {
  main > div {
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
}
main > div #shopping-cart-products {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
}
main > div #shopping-cart-products .shopping-cart-product {
  background-color: #F0E9E9;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2392156863) 0px 3px 8px;
  padding: 10px 20px 10px 0;
  display: flex;
  align-items: center;
}
main > div #shopping-cart-products .shopping-cart-product > div img {
  width: 100px;
}
main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(1) {
  font-family: LatoBold, "sans-serif";
}
main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(1) h3 {
  font-size: 1.25rem;
}
main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(1) small {
  color: green;
}
main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(2) i {
  cursor: pointer;
}
main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(2) > div {
  display: flex;
  gap: 15px;
  font-family: LatoBold, "sans-serif";
}
@media (min-width: 810px) and (max-width: 1090px) {
  main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(2) > div {
    font-size: 1.5rem;
  }
}
@media (min-width: 1100px) {
  main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(2) > div {
    font-size: 1.5rem;
  }
}
@media (min-width: 810px) and (max-width: 1090px) {
  main > div #shopping-cart-products .shopping-cart-product {
    background-color: #F0E9E9;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2392156863) 0px 3px 8px;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
  }
  main > div #shopping-cart-products .shopping-cart-product > div img {
    width: 150px;
  }
  main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(1) {
    font-family: LatoBold, "sans-serif";
  }
  main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(1) h3 {
    font-size: 1.7rem;
  }
  main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(1) small {
    color: green;
  }
  main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(2) i {
    cursor: pointer;
  }
  main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(2) > div {
    display: flex;
    gap: 15px;
    font-family: LatoBold, "sans-serif";
  }
}
@media (min-width: 810px) and (max-width: 1090px) and (min-width: 810px) and (max-width: 1090px) {
  main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(2) > div {
    font-size: 1.5rem;
  }
}
@media (min-width: 810px) and (max-width: 1090px) and (min-width: 1100px) {
  main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(2) > div {
    font-size: 1.5rem;
  }
}
@media (min-width: 1100px) {
  main > div #shopping-cart-products .shopping-cart-product {
    background-color: #F0E9E9;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2392156863) 0px 3px 8px;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
  }
  main > div #shopping-cart-products .shopping-cart-product > div img {
    width: 170px;
  }
  main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(1) {
    font-family: LatoBold, "sans-serif";
  }
  main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(1) h3 {
    font-size: 2rem;
  }
  main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(1) small {
    color: green;
  }
  main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(2) i {
    cursor: pointer;
  }
  main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(2) > div {
    display: flex;
    gap: 15px;
    font-family: LatoBold, "sans-serif";
  }
}
@media (min-width: 1100px) and (min-width: 810px) and (max-width: 1090px) {
  main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(2) > div {
    font-size: 1.5rem;
  }
}
@media (min-width: 1100px) and (min-width: 1100px) {
  main > div #shopping-cart-products .shopping-cart-product .shopping-cart-product__info div:nth-of-type(2) > div {
    font-size: 1.5rem;
  }
}
@media (min-width: 1100px) {
  main > div #shopping-cart-products {
    width: 60%;
  }
}
main > div section:nth-of-type(2) {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
main > div section:nth-of-type(2) > div {
  box-shadow: rgba(0, 0, 0, 0.2392156863) 0px 3px 8px;
  padding: 10px 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: #F0E9E9;
}
@media (min-width: 810px) and (max-width: 1090px) {
  main > div section:nth-of-type(2) > div {
    padding: 20px 100px;
  }
}
@media (min-width: 1100px) {
  main > div section:nth-of-type(2) > div {
    padding: 30px 150px;
  }
}
main > div section:nth-of-type(2) > div h2 {
  font-family: LatoBold, "sans-serif";
}
@media (min-width: 810px) and (max-width: 1090px) {
  main > div section:nth-of-type(2) > div h2 {
    font-size: 1.7rem;
  }
}
@media (min-width: 1100px) {
  main > div section:nth-of-type(2) > div h2 {
    font-size: 2rem;
  }
}
main > div section:nth-of-type(2) > div small {
  font-family: LatoRegular, "sans-serif";
}
@media (min-width: 810px) and (max-width: 1090px) {
  main > div section:nth-of-type(2) > div small {
    font-size: 1rem;
  }
}
@media (min-width: 1100px) {
  main > div section:nth-of-type(2) > div small {
    font-size: 1rem;
  }
}
main > div section:nth-of-type(2) > div small span {
  font-family: LatoBold, "sans-serif";
}
main > div section:nth-of-type(2) > div a {
  background-color: #c9a635;
  border-radius: 10px;
  padding: 5px;
  font-family: LatoBold, "sans-serif";
  font-size: 1.25rem;
  color: #000000;
  cursor: pointer;
}
@media (min-width: 810px) and (max-width: 1090px) {
  main > div section:nth-of-type(2) > div a {
    font-size: 1.5rem;
  }
}
@media (min-width: 1100px) {
  main > div section:nth-of-type(2) > div a {
    font-size: 2rem;
  }
}
main #list-featured-products {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 40px;
}
@media (min-width: 810px) and (max-width: 1090px) {
  main #list-featured-products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1100px) {
  main #list-featured-products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
main #list-featured-products .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  width: 100%;
  min-height: 300px;
  border-radius: 16px;
  cursor: pointer;
  background-color: #F0E9E9;
}
main #list-featured-products .card img {
  width: 130px;
}
main #list-featured-products .card div:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}
main #list-featured-products .card div:nth-of-type(1) p {
  font-size: 1rem;
  font-family: LatoBold, "sans-serif";
}
main #list-featured-products .card div:nth-of-type(2) {
  text-align: start;
  width: 100%;
}
main #list-featured-products .card div:nth-of-type(2) h3, main #list-featured-products .card div:nth-of-type(2) p {
  font-family: LatoBold, "sans-serif";
}
main #list-featured-products .card div:nth-of-type(2) h3 {
  font-size: 1.25rem;
}
main #list-featured-products .card div:nth-of-type(2) p {
  font-size: 1.5rem;
}
main #list-featured-products .card div:nth-of-type(3) {
  display: flex;
  justify-content: center;
  background-color: #c9a635;
  padding: 5px;
  border-radius: 16px;
  width: 100%;
  cursor: pointer;
}/*# sourceMappingURL=cart.css.map */